{% extends 'master.html' %}

{% block title %}
    About TennisClubX
{% endblock %}

{% block content %}
    <div class="container mycard">
        <h1> About TennisClubX</h1>
        
        <p>
            TennisClubX is a web app create using the django framework and JavaScript. It can perform basic functionalities like: navigation of urls, creation of new members using the admin panel in django. <br>
            <hr>
            <br>
            The database used in this minor project is sqlite3 and it has some javascript functionality.
        </p>
        
        <p> Creator -- <span class="author"> Eric Alfred </span> -- </p>
        <p> © 2023</p>
    </div>
{% endblock %}