{% extends "master.html" %} 

{% block title %} 
    My Tennis Club 
{% endblock %} 

{% block content %} 
    <div class="main mycard">

        <h1> Welcome To My Tennis Club</h1> 
        
    
        <h2>List of our tennis players</h2> 
        <p>Check out all our <a href="members/">Members</a></p>
    
    <div class="main2">
       <h1> Want to get added??</h1><br><br>
       <h3> Join us by registering your information</h3>
       <br><br>
       <a href="/form"><p> Click here to register </p></a><br><br>
    </div>
    </div>

{% endblock %}
